{
  "discord": {
    "token": "TOKEN",
    "prefix": "-",
    "owner": "YOUR ID"
  },
  "mysql": { // MySQL
    "host": "HOST",
    "user": "USER",
    "password": "PASSWORD",
    "database": "DATABASE"
  },
  "nep": { // Neptune API (https://github.com/MoistSenpai/Neptune-API)
    "key": "KEY"
  },
  "wolke": {
    "key": "KEY" // https://weeb.sh/
  }
}
